@charset "UTF-8";

:root {
    --cor1--: #0B6718;
    --cor2--: #646663;
}

* {
    font-family: sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1--);

    width: 100vw;
    height: 100vh;
}

main{
    position: relative;

    width: 100vw;
    height: 100vh;
}

#img{
    display: block;
    background: var(--cor1--) url(../imagens/imagen-login.jpg) no-repeat left bottom;
    background-size: cover;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
    
    height: 200px;
}

section {
    position: absolute;

    background-color: var(--cor2--);
    color: #ffffff;

    width: 350px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    overflow: hidden;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#form {
    display: block;
    padding: 20px;
}

#form p{
    margin: 10px 0px 20px 0px;
}

form{
    width: 276px;
}


